<ng-container *ngIf="isOA"><app-sidenav-oa></app-sidenav-oa></ng-container>
<ng-container *ngIf="isAdmin"><app-sidenav></app-sidenav></ng-container>
<header>
  <div class="header" style="margin-left: 32%;" >
    <h1 style="margin-left: 50%;margin-top: 1%;">Consult US</h1>
    <div class="row">
    </div>
  </div>
  
</header>
<section class="body">

</section>
<div class="cover" style="margin-left: 10%;">
  <form (ngSubmit)="onSubmit()">
    <div class="choose" style="margin-top: 3%;">
      <strong>Pick your Ligne </strong> 
    </div>
    <select id="mySelect" [(ngModel)]="SelectedLigne" name="selectedOption" 
    style="width:8%; text-align: center;margin-left: 46%;">
      <option *ngFor="let n of ligneList"  [ngValue]="n"> {{n.hostname}}</option>
      
    </select>
    <div class="choose" >
      <strong> Pick your Picklist</strong>
       </div> 
    <select id="mySelect" [(ngModel)]="SelectedPicklist" name="selectedOption1" 
     style="width:8%; text-align: center;margin-left:46%;">
      <option *ngFor="let n of ListPicklist"   [ngValue]="n"> {{n.hostname}}</option>

    </select>
    <div class="search">
    <button type="submit"  class="btn btn-info" 
    style="align-items: center;margin-left: 46%; margin-top: 1%;width: 8%;">Search</button>
  </div>
  
  </form>


   <!-- Table -->
    <ng-container *ngIf="condition1 ">
    <body>
      <main class="table">
          <section class="table__header">
              <h1>Suivi US</h1>
             
              <div class="export__file">
                  <label for="export-file" class="export__file-btn" title="Export File"></label>
                  <input type="checkbox" id="export-file">
                  
              </div>
          </section>
          <section class="table__body">
              <table>
                  <thead>
                      <tr  >
                        <th >ID</th>
                        <th >Staut </th>
                        <th >Quantity</th>
                        
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let i of USList;">
                          <td>{{i.idUsPickliste}}  </td>
                          <td >
                            <ng-container *ngIf="i.idstatus.code == 'CONSOMMER'"> <p class="status delivered">CONSOMMER</p></ng-container>
                            <ng-container *ngIf=" i.idstatus.code == 'NON CONSOMMER'" > <p class="status cancelled">NON CONSOMMER</p></ng-container>
                          </td>
                          <td> {{i.quantite}} </td>
                      </tr>
                     
                  </tbody>
              </table>
          </section>
      </main>
    </body>
  </ng-container>
</div>  

